In [1]:
# import libraries
import numpy as np
import pandas as pd

In [2]:
# read the dataframe
df = pd.read_csv('Lagos_solocast_data.csv')

In [3]:
df.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'CloudOpacity', 'Dhi',
       'Dni', 'Ghi', 'PrecipitableWater', 'RelativeHumidity',
       'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'],
      dtype='object')

In [4]:
# select some features
df = df[['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi',
       'PrecipitableWater', 'RelativeHumidity', 'SurfacePressure',
       'WindDirection10m', 'WindSpeed10m']]

In [5]:
# randomly display 10 rows
df.sample(10)

,PeriodEnd,PeriodStart,AirTemp,Dhi,Dni,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m
19665,2021-03-29T11:00:00Z,2021-03-29T10:00:00Z,30.6,533,0,533,39.3,61.0,1010.4,198,4.0
25898,2021-12-14T04:00:00Z,2021-12-14T03:00:00Z,27.9,0,0,0,42.0,76.0,1007.1,252,3.0
4599,2019-07-10T17:00:00Z,2019-07-10T16:00:00Z,27.3,117,394,264,52.6,73.5,1011.3,229,6.0
7557,2019-11-10T23:00:00Z,2019-11-10T22:00:00Z,28.6,0,0,0,53.4,74.6,1009.6,234,3.5
19778,2021-04-03T04:00:00Z,2021-04-03T03:00:00Z,27.6,0,0,0,44.9,80.7,1006.8,235,3.9
5177,2019-08-03T19:00:00Z,2019-08-03T18:00:00Z,26.4,0,0,0,51.6,78.0,1012.5,228,4.8
21289,2021-06-05T03:00:00Z,2021-06-05T02:00:00Z,26.5,0,0,0,55.3,77.5,1010.4,148,1.0
9023,2020-01-11T01:00:00Z,2020-01-11T00:00:00Z,27.6,0,0,0,42.2,79.6,1010.7,225,3.5
25781,2021-12-09T07:00:00Z,2021-12-09T06:00:00Z,27.4,58,4,60,38.8,72.9,1009.6,331,1.3
7127,2019-10-24T01:00:00Z,2019-10-24T00:00:00Z,27.0,0,0,0,54.5,78.2,1008.9,269,2.9

In [6]:
old_names = ['PeriodEnd', 'PeriodStart', 'AirTemp', 'Dhi', 'Dni', 'Ghi','PrecipitableWater', 'RelativeHumidity',
             'SurfacePressure', 'WindDirection10m', 'WindSpeed10m'] 
new_names = ['PeriodEnd','PeriodStart','Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation', 'Humidity', 
             'Pressure', 'WindDirection', 'WindSpeed']
df.rename(columns = dict(zip(old_names, new_names)), inplace = True)

In [7]:
# display dataframe
df.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31T02:00:00Z,2018-12-31T01:00:00Z,26.1,0,0,0,41.4,87.1,1006.3,217,1.9
1,2018-12-31T03:00:00Z,2018-12-31T02:00:00Z,25.2,0,0,0,41.5,88.0,1006.0,223,1.7
2,2018-12-31T04:00:00Z,2018-12-31T03:00:00Z,24.6,0,0,0,41.6,89.3,1006.2,231,1.6
3,2018-12-31T05:00:00Z,2018-12-31T04:00:00Z,24.2,0,0,0,41.8,90.9,1006.9,242,1.5
4,2018-12-31T06:00:00Z,2018-12-31T05:00:00Z,23.8,0,0,0,41.9,92.6,1007.5,254,1.4

In [8]:
df.shape

(26181, 11)

In [9]:
# show a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26181 entries, 0 to 26180
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26181 non-null  object
 1   PeriodStart    26181 non-null  object
 2   Temperature    26181 non-null  float64
 3   DHI            26181 non-null  int64
 4   DNI            26181 non-null  int64
 5   Radiation      26181 non-null  int64
 6   Precipitation  26181 non-null  float64
 7   Humidity       26181 non-null  float64
 8   Pressure       26181 non-null  float64
 9   WindDirection  26181 non-null  int64
 10  WindSpeed      26181 non-null  float64
dtypes: float64(5), int64(4), object(2)
memory usage: 2.2+ MB

In [10]:
df.isnull().sum()

PeriodEnd        0
PeriodStart      0
Temperature      0
DHI              0
DNI              0
Radiation        0
Precipitation    0
Humidity         0
Pressure         0
WindDirection    0
WindSpeed        0
dtype: int64

In [11]:
 # interpret columns as appropriate data types to ensure compatibility
df['Radiation']     = df['Radiation'].astype(float)
df['Temperature']   = df['Temperature'].astype(float) # or int
df['Pressure']      = df['Pressure'].astype(float)
df['Humidity']      = df['Humidity'].astype(int) # or int
df['WindDirection'] = df['WindDirection'].astype(float)
df['WindSpeed']     = df['WindSpeed'].astype(float)
df['PeriodStart'] = pd.to_datetime(df['PeriodStart']).dt.to_period('T').dt.to_timestamp()
df['PeriodEnd'] = pd.to_datetime(df['PeriodEnd']).dt.to_period('T').dt.to_timestamp()

C:\Users\oluwa\anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1101: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

In [12]:
# display dataframe summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26181 entries, 0 to 26180
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26181 non-null  datetime64[ns]
 1   PeriodStart    26181 non-null  datetime64[ns]
 2   Temperature    26181 non-null  float64
 3   DHI            26181 non-null  int64
 4   DNI            26181 non-null  int64
 5   Radiation      26181 non-null  float64
 6   Precipitation  26181 non-null  float64
 7   Humidity       26181 non-null  int32
 8   Pressure       26181 non-null  float64
 9   WindDirection  26181 non-null  float64
 10  WindSpeed      26181 non-null  float64
dtypes: datetime64[ns](2), float64(6), int32(1), int64(2)
memory usage: 2.1 MB

In [13]:
# display top 6 rows
df.head(6)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed
0,2018-12-31 02:00:00,2018-12-31 01:00:00,26.1,0,0,0.0,41.4,87,1006.3,217.0,1.9
1,2018-12-31 03:00:00,2018-12-31 02:00:00,25.2,0,0,0.0,41.5,88,1006.0,223.0,1.7
2,2018-12-31 04:00:00,2018-12-31 03:00:00,24.6,0,0,0.0,41.6,89,1006.2,231.0,1.6
3,2018-12-31 05:00:00,2018-12-31 04:00:00,24.2,0,0,0.0,41.8,90,1006.9,242.0,1.5
4,2018-12-31 06:00:00,2018-12-31 05:00:00,23.8,0,0,0.0,41.9,92,1007.5,254.0,1.4
5,2018-12-31 07:00:00,2018-12-31 06:00:00,24.3,41,2,41.0,42.0,90,1008.1,260.0,1.3

In [14]:
# Create new features(year, month, day) from start and end time of data collection  
df['YearPS'] = pd.to_datetime(df['PeriodStart']).dt.year
df['YearPE'] = pd.to_datetime(df['PeriodEnd']).dt.year

df['MonthPS'] = pd.to_datetime(df['PeriodStart']).dt.month
df['MonthPE'] = pd.to_datetime(df['PeriodEnd']).dt.month

df['HourPS'] = pd.to_datetime(df['PeriodStart']).dt.hour
df['HourPE'] = pd.to_datetime(df['PeriodEnd']).dt.hour

In [15]:
df.head(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE
0,2018-12-31 02:00:00,2018-12-31 01:00:00,26.1,0,0,0.0,41.4,87,1006.3,217.0,1.9,2018,2018,12,12,1,2
1,2018-12-31 03:00:00,2018-12-31 02:00:00,25.2,0,0,0.0,41.5,88,1006.0,223.0,1.7,2018,2018,12,12,2,3
2,2018-12-31 04:00:00,2018-12-31 03:00:00,24.6,0,0,0.0,41.6,89,1006.2,231.0,1.6,2018,2018,12,12,3,4
3,2018-12-31 05:00:00,2018-12-31 04:00:00,24.2,0,0,0.0,41.8,90,1006.9,242.0,1.5,2018,2018,12,12,4,5
4,2018-12-31 06:00:00,2018-12-31 05:00:00,23.8,0,0,0.0,41.9,92,1007.5,254.0,1.4,2018,2018,12,12,5,6

In [16]:
# create a new feature for sunrise using the function below; fill time for sunrise
def time_to_sunrise(row):
    """
    A function for identifying time of sunrise.
    """
    value= 0
    if row['HourPS'] == 4 and row['HourPE'] == 5 and row['Radiation'] > 0:
        value= '05:00:00'
    elif row['HourPS'] == 5 and row['HourPE'] == 6 and row['Radiation'] > 0:
        value= '06:00:00'
    return value

In [17]:
#Create a new column using the function above
df['Sunrise'] = df.apply(time_to_sunrise, axis=1)
df.sample(5)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise
6658,2019-10-04 12:00:00,2019-10-04 11:00:00,27.4,137,0,137.0,58.3,69,1009.4,350.0,1.9,2019,2019,10,10,11,12,0
17978,2021-01-18 04:00:00,2021-01-18 03:00:00,27.2,0,0,0.0,40.3,78,1006.9,250.0,3.0,2021,2021,1,1,3,4,0
25046,2021-11-08 16:00:00,2021-11-08 15:00:00,29.6,198,232,309.0,54.2,68,1005.7,202.0,4.8,2021,2021,11,11,15,16,0
12870,2020-06-19 08:00:00,2020-06-19 07:00:00,26.0,187,138,257.0,57.0,79,1014.9,64.0,1.0,2020,2020,6,6,7,8,0
5531,2019-08-18 13:00:00,2019-08-18 12:00:00,27.2,236,720,938.0,47.5,76,1011.8,219.0,6.8,2019,2019,8,8,12,13,0

In [18]:
# create a new feature for sunset using the function below; fill time for sunset
def time_to_sunset(row):
    """
    A function for identifying time of sunset.
    """
    value= 0
    if row['HourPS'] == 17 and row['HourPE'] == 18 and row['Radiation']> 0:
        value= '18:00:00'
    elif row['HourPS'] == 18 and row['HourPE']== 19 and row['Radiation']> 0:
        value= '19:00:00'
    return value

In [19]:
#Create a new column using the function above
df['Sunset'] = df.apply(time_to_sunset, axis=1)

In [20]:
df.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
0,2018-12-31 02:00:00,2018-12-31 01:00:00,26.1,0,0,0.0,41.4,87,1006.3,217.0,1.9,2018,2018,12,12,1,2,0,0
1,2018-12-31 03:00:00,2018-12-31 02:00:00,25.2,0,0,0.0,41.5,88,1006.0,223.0,1.7,2018,2018,12,12,2,3,0,0
2,2018-12-31 04:00:00,2018-12-31 03:00:00,24.6,0,0,0.0,41.6,89,1006.2,231.0,1.6,2018,2018,12,12,3,4,0,0
3,2018-12-31 05:00:00,2018-12-31 04:00:00,24.2,0,0,0.0,41.8,90,1006.9,242.0,1.5,2018,2018,12,12,4,5,0,0
4,2018-12-31 06:00:00,2018-12-31 05:00:00,23.8,0,0,0.0,41.9,92,1007.5,254.0,1.4,2018,2018,12,12,5,6,0,0

In [21]:
df['Sunrise'].unique()

array([0, '06:00:00'], dtype=object)

In [22]:
df['Sunset'].unique()

array([0, '18:00:00'], dtype=object)

In [23]:
# show summary of our dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26181 entries, 0 to 26180
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26181 non-null  datetime64[ns]
 1   PeriodStart    26181 non-null  datetime64[ns]
 2   Temperature    26181 non-null  float64
 3   DHI            26181 non-null  int64
 4   DNI            26181 non-null  int64
 5   Radiation      26181 non-null  float64
 6   Precipitation  26181 non-null  float64
 7   Humidity       26181 non-null  int32
 8   Pressure       26181 non-null  float64
 9   WindDirection  26181 non-null  float64
 10  WindSpeed      26181 non-null  float64
 11  YearPS         26181 non-null  int64
 12  YearPE         26181 non-null  int64
 13  MonthPS        26181 non-null  int64
 14  MonthPE        26181 non-null  int64
 15  HourPS         26181 non-null  int64
 16  HourPE         26181 non-null  int64
 17  Sunrise        26181 non-null  object
 18  Sunset         26181 non-null  object
dtypes: datetime64[ns](2), float64(6), int32(1), int64(8), object(2)
memory usage: 3.7+ MB

In [24]:
# changing integer values to datetime format
df_new = df.loc[~((df['Radiation'] == 0) & (df['DNI'] == 0) & (df['DHI'] == 0)),:]

In [25]:
# show summary of our dataframe
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13889 entries, 5 to 26176
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      13889 non-null  datetime64[ns]
 1   PeriodStart    13889 non-null  datetime64[ns]
 2   Temperature    13889 non-null  float64
 3   DHI            13889 non-null  int64
 4   DNI            13889 non-null  int64
 5   Radiation      13889 non-null  float64
 6   Precipitation  13889 non-null  float64
 7   Humidity       13889 non-null  int32
 8   Pressure       13889 non-null  float64
 9   WindDirection  13889 non-null  float64
 10  WindSpeed      13889 non-null  float64
 11  YearPS         13889 non-null  int64
 12  YearPE         13889 non-null  int64
 13  MonthPS        13889 non-null  int64
 14  MonthPE        13889 non-null  int64
 15  HourPS         13889 non-null  int64
 16  HourPE         13889 non-null  int64
 17  Sunrise        13889 non-null  object
 18  Sunset         13889 non-null  object
dtypes: datetime64[ns](2), float64(6), int32(1), int64(8), object(2)
memory usage: 2.1+ MB

In [26]:
# display 10 random samples of the dataframe
df_new.sample(10)

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset
2943,2019-05-02 17:00:00,2019-05-02 16:00:00,27.5,128,231,209.0,56.5,87,1004.2,236.0,1.9,2019,2019,5,5,16,17,0,0
23268,2021-08-26 14:00:00,2021-08-26 13:00:00,27.9,416,194,583.0,55.6,70,1009.7,245.0,2.6,2021,2021,8,8,13,14,0,0
15927,2020-10-24 17:00:00,2020-10-24 16:00:00,28.8,65,0,65.0,55.2,71,1008.7,239.0,4.1,2020,2020,10,10,16,17,0,0
7638,2019-11-14 08:00:00,2019-11-14 07:00:00,27.6,143,0,143.0,55.9,69,1009.5,9.0,4.1,2019,2019,11,11,7,8,0,0
632,2019-01-26 10:00:00,2019-01-26 09:00:00,28.9,311,428,613.0,47.1,77,1008.9,264.0,1.9,2019,2019,1,1,9,10,0,0
3462,2019-05-24 08:00:00,2019-05-24 07:00:00,26.6,241,0,241.0,59.2,84,1007.3,188.0,2.2,2019,2019,5,5,7,8,0,0
4141,2019-06-21 15:00:00,2019-06-21 14:00:00,28.2,318,360,575.0,60.1,72,1011.9,218.0,6.5,2019,2019,6,6,14,15,0,0
2601,2019-04-18 11:00:00,2019-04-18 10:00:00,30.5,593,64,654.0,52.7,73,1006.3,200.0,2.5,2019,2019,4,4,10,11,0,0
20743,2021-05-13 09:00:00,2021-05-13 08:00:00,29.2,368,20,383.0,53.0,69,1010.4,230.0,4.9,2021,2021,5,5,8,9,0,0
20624,2021-05-08 10:00:00,2021-05-08 09:00:00,29.7,459,8,466.0,51.5,61,1012.5,223.0,4.3,2021,2021,5,5,9,10,0,0

In [27]:
# convert datetime column of endperiod to just date
df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

<ipython-input-27-eed0b0080a7a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Date'] = pd.to_datetime(df_new['PeriodEnd']).dt.normalize()

In [28]:
# convert the column (it's a string) to datetime type
dt_series = pd.to_datetime(df_new['Date'])

# create datetime index passing the datetime series
dt_index = pd.DatetimeIndex(dt_series.values)

# 
df_new1 = df_new.set_index(dt_index)

In [29]:
# display first 5 rows
df_new1.head()

,PeriodEnd,PeriodStart,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,YearPS,YearPE,MonthPS,MonthPE,HourPS,HourPE,Sunrise,Sunset,Date
2018-12-31,2018-12-31 07:00:00,2018-12-31 06:00:00,24.3,41,2,41.0,42.0,90,1008.1,260.0,1.3,2018,2018,12,12,6,7,0,0,2018-12-31
2018-12-31,2018-12-31 08:00:00,2018-12-31 07:00:00,25.6,151,7,153.0,41.8,84,1008.6,261.0,1.2,2018,2018,12,12,7,8,0,0,2018-12-31
2018-12-31,2018-12-31 09:00:00,2018-12-31 08:00:00,26.9,248,0,248.0,41.7,79,1009.1,261.0,1.0,2018,2018,12,12,8,9,0,0,2018-12-31
2018-12-31,2018-12-31 10:00:00,2018-12-31 09:00:00,28.3,347,0,347.0,41.7,73,1009.0,259.0,0.7,2018,2018,12,12,9,10,0,0,2018-12-31
2018-12-31,2018-12-31 11:00:00,2018-12-31 10:00:00,29.7,464,0,464.0,41.9,66,1008.2,243.0,0.3,2018,2018,12,12,10,11,0,0,2018-12-31

In [30]:
# 
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13889 entries, 2018-12-31 to 2021-12-25
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      13889 non-null  datetime64[ns]
 1   PeriodStart    13889 non-null  datetime64[ns]
 2   Temperature    13889 non-null  float64
 3   DHI            13889 non-null  int64
 4   DNI            13889 non-null  int64
 5   Radiation      13889 non-null  float64
 6   Precipitation  13889 non-null  float64
 7   Humidity       13889 non-null  int32
 8   Pressure       13889 non-null  float64
 9   WindDirection  13889 non-null  float64
 10  WindSpeed      13889 non-null  float64
 11  YearPS         13889 non-null  int64
 12  YearPE         13889 non-null  int64
 13  MonthPS        13889 non-null  int64
 14  MonthPE        13889 non-null  int64
 15  HourPS         13889 non-null  int64
 16  HourPE         13889 non-null  int64
 17  Sunrise        13889 non-null  object
 18  Sunset         13889 non-null  object
 19  Date           13889 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int32(1), int64(8), object(2)
memory usage: 2.2+ MB

In [31]:
# sample daily average for the solar and weather features
df_new1['Daily_radiation'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()
df_new1['Daily_DNI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()
df_new1['Daily_DHI'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DHI'].mean()
df_new1['Daily_Temp'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()
df_new1['Daily_Precip'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()
df_new1['Daily_Humidity'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()
df_new1['Daily_Pressure'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()
df_new1['Daily_WindDir'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()
df_new1['Daily_WindSpeed'] = df_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()

In [32]:
# display a summary of our dataframe
df_new1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13889 entries, 2018-12-31 to 2021-12-25
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        13889 non-null  datetime64[ns]
 1   PeriodStart      13889 non-null  datetime64[ns]
 2   Temperature      13889 non-null  float64
 3   DHI              13889 non-null  int64
 4   DNI              13889 non-null  int64
 5   Radiation        13889 non-null  float64
 6   Precipitation    13889 non-null  float64
 7   Humidity         13889 non-null  int32
 8   Pressure         13889 non-null  float64
 9   WindDirection    13889 non-null  float64
 10  WindSpeed        13889 non-null  float64
 11  YearPS           13889 non-null  int64
 12  YearPE           13889 non-null  int64
 13  MonthPS          13889 non-null  int64
 14  MonthPE          13889 non-null  int64
 15  HourPS           13889 non-null  int64
 16  HourPE           13889 non-null  int64
 17  Sunrise          13889 non-null  object
 18  Sunset           13889 non-null  object
 19  Date             13889 non-null  datetime64[ns]
 20  Daily_radiation  13889 non-null  float64
 21  Daily_DNI        13889 non-null  float64
 22  Daily_DHI        13889 non-null  float64
 23  Daily_Temp       13889 non-null  float64
 24  Daily_Precip     13889 non-null  float64
 25  Daily_Humidity   13889 non-null  float64
 26  Daily_Pressure   13889 non-null  float64
 27  Daily_WindDir    13889 non-null  float64
 28  Daily_WindSpeed  13889 non-null  float64
dtypes: datetime64[ns](3), float64(15), int32(1), int64(8), object(2)
memory usage: 3.1+ MB

In [33]:
# drop irrelevant features
new_df= df_new1.drop(['PeriodStart', 'YearPS', 'HourPS', 'HourPE', 'Sunrise', 'Sunset', 'MonthPS', 'YearPE'], axis= 1)

In [34]:
# display first 10 rows
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 07:00:00,24.3,41,2,41.0,42.0,90,1008.1,260.0,1.3,...,2018-12-31,342.25,90.083333,277.833333,29.483333,41.733333,64.083333,1007.25,205.583333,1.108333
2018-12-31,2018-12-31 08:00:00,25.6,151,7,153.0,41.8,84,1008.6,261.0,1.2,...,2018-12-31,342.25,90.083333,277.833333,29.483333,41.733333,64.083333,1007.25,205.583333,1.108333
2018-12-31,2018-12-31 09:00:00,26.9,248,0,248.0,41.7,79,1009.1,261.0,1.0,...,2018-12-31,342.25,90.083333,277.833333,29.483333,41.733333,64.083333,1007.25,205.583333,1.108333
2018-12-31,2018-12-31 10:00:00,28.3,347,0,347.0,41.7,73,1009.0,259.0,0.7,...,2018-12-31,342.25,90.083333,277.833333,29.483333,41.733333,64.083333,1007.25,205.583333,1.108333
2018-12-31,2018-12-31 11:00:00,29.7,464,0,464.0,41.9,66,1008.2,243.0,0.3,...,2018-12-31,342.25,90.083333,277.833333,29.483333,41.733333,64.083333,1007.25,205.583333,1.108333
2018-12-31,2018-12-31 12:00:00,31.2,536,72,599.0,42.1,60,1007.5,149.0,0.2,...,2018-12-31,342.25,90.083333,277.833333,29.483333,41.733333,64.083333,1007.25,205.583333,1.108333
2018-12-31,2018-12-31 13:00:00,31.9,457,280,696.0,42.1,55,1006.8,142.0,0.5,...,2018-12-31,342.25,90.083333,277.833333,29.483333,41.733333,64.083333,1007.25,205.583333,1.108333
2018-12-31,2018-12-31 14:00:00,32.0,400,290,626.0,42.0,51,1006.1,160.0,0.8,...,2018-12-31,342.25,90.083333,277.833333,29.483333,41.733333,64.083333,1007.25,205.583333,1.108333
2018-12-31,2018-12-31 15:00:00,32.1,328,244,487.0,41.9,48,1005.5,167.0,1.2,...,2018-12-31,342.25,90.083333,277.833333,29.483333,41.733333,64.083333,1007.25,205.583333,1.108333
2018-12-31,2018-12-31 16:00:00,31.6,232,148,304.0,41.7,49,1005.5,178.0,1.6,...,2018-12-31,342.25,90.083333,277.833333,29.483333,41.733333,64.083333,1007.25,205.583333,1.108333

In [35]:
# show a summary of the dataframe
new_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13889 entries, 2018-12-31 to 2021-12-25
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PeriodEnd        13889 non-null  datetime64[ns]
 1   Temperature      13889 non-null  float64
 2   DHI              13889 non-null  int64
 3   DNI              13889 non-null  int64
 4   Radiation        13889 non-null  float64
 5   Precipitation    13889 non-null  float64
 6   Humidity         13889 non-null  int32
 7   Pressure         13889 non-null  float64
 8   WindDirection    13889 non-null  float64
 9   WindSpeed        13889 non-null  float64
 10  MonthPE          13889 non-null  int64
 11  Date             13889 non-null  datetime64[ns]
 12  Daily_radiation  13889 non-null  float64
 13  Daily_DNI        13889 non-null  float64
 14  Daily_DHI        13889 non-null  float64
 15  Daily_Temp       13889 non-null  float64
 16  Daily_Precip     13889 non-null  float64
 17  Daily_Humidity   13889 non-null  float64
 18  Daily_Pressure   13889 non-null  float64
 19  Daily_WindDir    13889 non-null  float64
 20  Daily_WindSpeed  13889 non-null  float64
dtypes: datetime64[ns](2), float64(15), int32(1), int64(3)
memory usage: 2.3 MB

In [36]:
# dropping ALL duplicate values exceept the last value
new_df = new_df[~new_df.Date.duplicated(keep = 'last')]

In [37]:
# show the number of rows and columns available
new_df.shape

(1091, 21)

In [38]:
new_df.head(10)

,PeriodEnd,Temperature,DHI,DNI,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2018-12-31,2018-12-31 18:00:00,29.6,16,0,16.0,40.7,60,1006.6,197.0,2.5,...,2018-12-31,342.250000,90.083333,277.833333,29.483333,41.733333,64.083333,1007.250000,205.583333,1.108333
2019-01-01,2019-01-01 18:00:00,28.8,18,7,19.0,23.8,48,1007.0,178.0,1.7,...,2019-01-01,432.750000,260.583333,247.666667,29.125000,26.250000,52.666667,1008.508333,117.500000,1.708333
2019-01-02,2019-01-02 18:00:00,28.8,18,1,18.0,29.0,52,1006.8,206.0,1.9,...,2019-01-02,404.833333,175.083333,283.500000,28.675000,27.125000,54.500000,1008.175000,180.500000,0.900000
2019-01-03,2019-01-03 18:00:00,29.2,19,6,20.0,35.3,57,1005.9,200.0,1.9,...,2019-01-03,399.333333,159.500000,295.583333,29.066667,33.766667,59.833333,1007.183333,284.916667,0.800000
2019-01-04,2019-01-04 18:00:00,29.2,18,0,18.0,37.2,60,1005.9,204.0,2.5,...,2019-01-04,414.000000,207.166667,267.250000,29.483333,36.766667,62.666667,1006.916667,280.500000,1.108333
2019-01-05,2019-01-05 18:00:00,29.6,19,3,19.0,29.9,48,1005.1,195.0,2.1,...,2019-01-05,433.833333,263.250000,243.666667,29.675000,32.225000,55.333333,1006.958333,174.583333,1.291667
2019-01-06,2019-01-06 18:00:00,29.3,20,4,21.0,35.6,52,1005.7,204.0,2.7,...,2019-01-06,426.583333,240.750000,256.916667,29.033333,32.708333,57.583333,1006.908333,277.416667,1.283333
2019-01-07,2019-01-07 18:00:00,29.1,17,0,17.0,37.3,58,1005.5,212.0,2.3,...,2019-01-07,331.000000,87.250000,274.250000,28.841667,36.816667,62.583333,1007.025000,248.416667,1.141667
2019-01-08,2019-01-08 18:00:00,28.8,22,8,23.0,32.6,51,1005.0,197.0,1.7,...,2019-01-08,434.333333,253.083333,251.583333,28.816667,32.225000,55.666667,1006.525000,84.000000,1.058333
2019-01-09,2019-01-09 18:00:00,28.8,18,0,18.0,30.8,57,1004.0,204.0,2.3,...,2019-01-09,384.750000,137.416667,282.666667,28.608333,31.341667,57.416667,1005.791667,149.166667,1.241667

In [39]:
# list out the column names
new_df.columns

Index(['PeriodEnd', 'Temperature', 'DHI', 'DNI', 'Radiation', 'Precipitation',
       'Humidity', 'Pressure', 'WindDirection', 'WindSpeed', 'MonthPE', 'Date',
       'Daily_radiation', 'Daily_DNI', 'Daily_DHI', 'Daily_Temp',
       'Daily_Precip', 'Daily_Humidity', 'Daily_Pressure', 'Daily_WindDir',
       'Daily_WindSpeed'],
      dtype='object')

In [40]:
# select column features
final_df= new_df[['MonthPE', 'Date','Daily_Temp','Daily_Precip', 'Daily_Humidity', 'Daily_Pressure',\
                  'Daily_WindDir','Daily_WindSpeed','Daily_DNI', 'Daily_DHI','Daily_radiation']]

In [41]:
final_df.shape

(1091, 11)

In [42]:
final_df.head()

,MonthPE,Date,Daily_Temp,Daily_Precip,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed,Daily_DNI,Daily_DHI,Daily_radiation
2018-12-31,12,2018-12-31,29.483333,41.733333,64.083333,1007.250000,205.583333,1.108333,90.083333,277.833333,342.250000
2019-01-01,1,2019-01-01,29.125000,26.250000,52.666667,1008.508333,117.500000,1.708333,260.583333,247.666667,432.750000
2019-01-02,1,2019-01-02,28.675000,27.125000,54.500000,1008.175000,180.500000,0.900000,175.083333,283.500000,404.833333
2019-01-03,1,2019-01-03,29.066667,33.766667,59.833333,1007.183333,284.916667,0.800000,159.500000,295.583333,399.333333
2019-01-04,1,2019-01-04,29.483333,36.766667,62.666667,1006.916667,280.500000,1.108333,207.166667,267.250000,414.000000

In [43]:
# save cleaned dataset
final_df.to_csv('Lagos_solocast_data_cleaned.csv')